BACKEND_URL=http://127.0.0.1:8000
DEFAULT_TOP_K=3
DEFAULT_USE_MMR=true
DEFAULT_LAMBDA_MULT=0.55
DEFAULT_SIMILARITY_THRESHOLD=0.4
DEFAULT_TRACE_NAME=hf-space-chat
DEFAULT_USER_ID=anonymous
DEFAULT_BUDGET=200
PORT=7860
